.aboutme_container {
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  height: 100vh;
}

.selfpic {
  width: 25rem;
  max-height: 90%;
  aspect-ratio: 1/1.4;
}
.aboutme_right {
  font-size: 1.2rem;
}
.aboutme_right h1 {
  color: #ab873f;
}
.aboutme_right p {
  color: #8b939d;
  padding: 2rem;
}

@media (max-width: 1250px) {
  .aboutme_container {
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
  }
  .aboutme_right {
    display: grid;
    place-items: center;
    height: 100%;
  }
  .selfpic {
    display: none;
  }
  .aboutme_right h1 {
    font-size: 1.5rem;
  }
  .aboutme_right p {
    font-size: 0.7rem;
  }
}
